{{#if properties~}}
<strong>Properties</strong>

<table class="table">
  <thead>
    <tr>
      {{#each (tableHeadHtml properties "name|Name" "defaultvalue|Default" "description|Description")}}<th>{{this}}</th>{{/each}}
    </tr>
  </thead>
  <tbody>
    {{#tableRow properties "name" "defaultvalue" "description" ~}}
    <tr>
    {{#if @col1}}<td class="text-nowrap">{{>param-table-name}}</td>{{/if~}}
    {{#if @col2}}<td class="text-nowrap">{{>defaultvalue}}</td>{{/if~}}
    {{#if @col3}}<td>{{{md (inlineLinks description)}}}</td>{{/if}}
    </tr>
    {{~/tableRow}}
  </tbody>
</table>

{{/if}}