{{#if exceptions~}}
  <strong>Throws</strong>:

  <ul>
    {{#each exceptions~}}
    <li>{{#if type.names}}{{>linked-type-list types=type.names}} {{/if}}{{{inlineLinks description}}}</li>
    {{/each}}
  </ul>

{{/if}}