{{#if todoList~}}
  <strong>Todo</strong>

  <ul>
    {{#each todoList~}}
      {{#if done}}
        <li>{{{inlineLinks task}}} ✓</li>
      {{else}}
        <li>{{{inlineLinks task}}}</li>
      {{/if~}}
    {{/each~}}
  </ul>

{{/if~}}
