{{#globals kind=kind~}}
{{#if @first~}}
<h{{headingDepth}}>{{../../title}}</h{{headingDepth}}>

<table class="table">
  <thead>
    <tr>
      <th>Global</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
{{/if~}}
    <tr>
    <td>{{>sig-link-html}}</td>
    <td>{{{md (inlineLinks description)}}}</td>
    </tr>
{{#if @last~}}
  </tbody>
</table>

{{/if~}}
{{/globals}}
